{% extends "main/header.html" %}

{% block content %}
<h3>Portfolio: {{person.name}}</h3>

<p>XIRR: {{person.xirr}}%</p>
<p>TVPI: {{person.tvpi}}</p>
<table border=1px>
	<tr>
		<td>Date</td>
		<td>Company</td>
		<td>Amount</td>
		<td>Type</td>
	</tr>
	{%for entry in entrys%}
		<tr>
			<td>{{entry.date}}</td>
			<td>{{entry.company}}</td>
			<td>
				{%if entry.TYPE == 'contribution'%}
					(<script>document.write(Number({{entry.amount}}).formatMoney(2, '.', ','))</script>)
				{%else%}
					<script>document.write(Number({{entry.amount}}).formatMoney(2, '.', ','))</script>
				{%endif%}
			</td>
			<td>{{entry.TYPE}}</td>
		</tr>
	{%empty%}
	{%endfor%}
</table>
{% endblock %}