input {
	padding: 5px;
	margin: 10px;
}

table {
	padding: 5px;
	margin: 10px;
}

textarea {
	padding: 5px;
	margin: 10px;
}

h3 {
	margin-top: 0px;
}

td {
	width: 300px;
	padding: 5px;
}

th {
	width: 300px;
	padding: 5px;
}

.contentbox{
	background-color: #bcbcbc;
	border-radius: 5px;
}

.space{
	height: 30px;
}